nav {
  height: 60px;
  display: flex;
  padding: 0px 140px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.nav--img {
  height: 29px;
  width: 69px;
}

.nav--img:hover {
  cursor: pointer;
}

.nav--links {
  list-style: none;
  display: flex;
  gap: 2rem;
  
}

.nav--links li a{
  text-decoration: none;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.nav--links li a:hover {
  color: #FFAD57;
}

.nav--login {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-left: 256px;
}

.btn--login {
 
  text-decoration: none;
  /* background: #FFAD57; */
  background: linear-gradient(90deg, hsl(357, 100%, 70%, 1) 0%, hsl(30, 100%, 72%, 1) 100%);
  padding: 10px 29px;
  color: #FFFFFF;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border-radius: 22px;
  transition: filter 300ms;
}

.btn--login:hover {
  cursor: pointer;
  filter: saturate(2);
}


.toggle-button {
    position: absolute;
    top: 18.5px;
    right: 18px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color:#FFAD57;
  border-radius: 10px;
}

.nav--closed {
  display: none;
}

.nav--icons {
  position: absolute;
  top: 17px;
  right: 70px;
  display: none;
}






@media(max-width:1024px) {

  .toggle-button {
    display: flex;
  }

  .btn--login {
    display: none;
  }

  nav {
    padding: 0px 10px;
  }

  .nav--icons {
    display: flex;
    gap: 25px;

  }

  .nav--links {
    flex-direction: column;
    position: absolute;
    left: 40px;
    top: 100px;
    gap: 40px;
  }

  .nav--links li {
    font-size: larger;
  }

  .nav--links li a {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
  }

}

@media (min-width:1024px) {
  .nav--closed {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .nav--closed li a{
    text-decoration: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }

  .nav--closed li a:hover{
    color: #FFAD57;
  }  
}