nav {
  height: 60px;
  display: flex;
  padding: 0px 140px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.nav--img {
  height: 29px;
  width: 69px;
}

.nav--img:hover {
  cursor: pointer;
}

.nav--links {
  list-style: none;
  display: flex;
  gap: 2rem;
  
}

.nav--links li a{
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  display: block;
}

.nav--links li a:hover {
  color: #FFAD57;
}

.nav--login {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-left: 256px;
}

.btn--login {
 
  text-decoration: none;
  /* background: #FFAD57; */
  background: linear-gradient(90deg, hsl(357, 100%, 70%, 1) 0%, hsl(30, 100%, 72%, 1) 100%);
  padding: 10px 29px;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border-radius: 22px;
  transition: filter 300ms;
}

.btn--login:hover {
  cursor: pointer;
  filter: saturate(2);
}


.toggle-button {
    position: absolute;
    top: 18.5px;
    right: 18px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color:#FFAD57;
  border-radius: 10px;
}

.nav--closed {
  display: none;
}

.nav--icons {
  position: absolute;
  top: 17px;
  right: 70px;
  display: none;
}

.carousel {
  height: 500px;
  width: 100%;
  position: relative;
}

.carousel--img {
  max-height: 500px;
  max-width: 100%;
}

.search--input {

  position: absolute;
  width: 565px;
  height: 53px;
  left: 40%;
  top: 433px;
  border: 1px solid black;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}


@media(max-width:1024px) {

  .toggle-button {
    display: flex;
  }

  .btn--login {
    display: none;
  }

  nav {
    padding: 0px 10px;
  }

  .nav--icons {
    display: flex;
    gap: 25px;

  }

  .nav--open {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 45px;
    width: 60%;
    height: 100%;
  }

  .nav--open li {
    list-style: none;
    margin-top: 30px;

  }

  .nav--open li a {
    text-decoration: none;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0px;
    color: #000;
  }

  .nav--open > li > a:hover {
    color: #FFAD57;
  }

}

@media (min-width:1024px) {
  .nav--closed {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .nav--closed li a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }

  .nav--closed li a:hover{
    color: #FFAD57;
  }  

  .nav--open {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .nav--open li a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }

  .nav--open li a:hover{
    color: #FFAD57;
  }  
}